[submodule "lodepng"]
	path = lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/AndrewBelt/imgui.git
[submodule "pffft"]
	path = pffft
	url = https://github.com/marton78/pffft.git
