[submodule "noc"]
	path = noc
	url = https://github.com/guillaumechereau/noc.git
[submodule "lodepng"]
	path = lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "kissfft"]
	path = kissfft
	url = https://github.com/itdaniher/kissfft.git
